<div class="notes_board">
    <div class="note" *ngFor="let note of filteredNotes; let index = index">
        <h2 class="note_title" [innerHTML]="note.title  | highlightTags"></h2>
        <mat-divider></mat-divider>
        <div class="note_description" [innerHTML]="note.description  | highlightTags"></div>
        <ul class="note_tags" *ngIf="note.tags">
            <li class="tag" *ngFor="let tag of note.tags">{{ tag }}</li>
        </ul>
        <div class="note_actions">
            <button class="btn" type="button" (click)="onEdit(index)">Edit</button>
            <button class="btn" type="button" (click)="onDelete(index)">Delete</button>
        </div>
    </div>
</div>
